<%= form_for(@news, html: { class: 'form-horizontal', role: 'form' }) do |f| %>

  <div class='row'>
    <div class='clearfix'>

      <!-- first column start -->
      <div class='col-sm-6'>
        <div class='form-group required <%= 'has-error has-feedback' if @news.errors[:title].present? %>'>
          <%= f.label :title, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :title, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @news.errors[:title],
              value: @news.title %>
            <%= feedback_html if @news.errors[:title].present? %>
          </div>
        </div>
      
        <div class='form-group required <%= 'has-error has-feedback' if @news.errors[:body].present? %>'>
          <%= f.label :body, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_area :body, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @news.errors[:body],
              value: @news.body %>
            </div>
        </div>
      </div>
      <!-- first column end -->

      <!-- second column start -->
      <div class='col-sm-6'>
        <div class='form-group required <%= 'has-error has-feedback' if @news.errors[:user].present? %>'>
          <%= f.label :user, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :user, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @news.errors[:user],
              value: @news.user %>
            <%= feedback_html if @news.errors[:user].present? %>
          </div>
        </div>
      
        </div>
      <!-- second column end -->

    </div>
  </div>

  <hr />

  <div class='form-group'>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to news_index_path, class: 'btn btn-default' do %>
      <span class='glyphicon glyphicon-list-alt'></span>
      Back
    <% end %>
    <% if @news.id %>
      <%= link_to @news, class: 'btn btn-primary' do %>
        <span class='glyphicon glyphicon-info-sign'></span>
        Show
      <% end %>
    <% end %>
  </div>
<% end %>
