<div class='page-header title-colour'>
  News
</div>
<div>
  <%= link_to new_news_path, class: 'btn btn-primary' do %>
    <span class='glyphicon glyphicon-plus'></span>
    Add Article
  <% end %>
</div>
<%= render partial: 'shared/notice' %>
<tbody>
  <%= @news.each do |news| %>
    <%= render layout: '/shared/widget', locals: { title: (link_to news.title, news) } do %>
      <%= news.body %>
      <p><%= news.user %></p>
    <% end %>
  <% end %>
</tbody>
