<%= render layout: '/shared/widget', locals: { title: 'Show News' } do %>

  <%= render partial: 'shared/notice' %>

  <dl class='dl-horizontal'>
    <dt>Title:</dt>
    <dd><%= @news.title %></dd>

    <dt>Body:</dt>
    <dd><%= @news.body.html_safe %></dd>

    <dt>Author:</dt>
    <dd><%= @news.first_name + ' ' + @news.last_name %></dd>

    <dt>Posted at:</dt>
    <dd><%= @news.created_at %></dd>

    <hr />
    <%= link_to news_index_path, class: 'btn btn-default' do %>
      <span class='glyphicon glyphicon-list-alt'></span>
      Back
    <% end %>

    <% if can? :edit, News %>
      <%= link_to edit_news_path(@news), class: 'btn btn-primary' do %>
        <span class='glyphicon glyphicon-pencil'></span>
        Edit
      <% end %>
    <% end %>

    <% if can? :destroy, News %>
      <%= link_to news_path(@news), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' do %>
        <span class="glyphicon glyphicon-trash"></span>
        Destroy
      <% end %>
    <% end %>
  </dl>
<% end %>
