<div class='page-header title-colour'>
  Projects
</div>
<% if can? :create, Project %>
  <div>
    <%= link_to new_project_path, class: 'btn btn-primary' do %>
      <span class='glyphicon glyphicon-plus'></span>
      Add Project
    <% end %>
  </div>
<% end %>
<%= render partial: 'shared/notice' %>
<tbody>
  <% @projects.each do |project| %>
    <%= render layout: '/shared/widget', locals: { title: (link_to project.title, project) } do %>
      <%= project.image %>
      <body><%= project.body %></body>
      <p><%= project.user %><%= project.github %></p>
    <% end %>
  <% end %>
</tbody>
