<div class='page-header title-colour'>
  Projects
</div>
<% if can? :create, Project %>
  <div>
    <%= link_to new_project_path, class: 'btn btn-primary' do %>
      <span class='glyphicon glyphicon-plus'></span>
      Add Project
    <% end %>
  </div>
<% end %>
<%= render partial: 'shared/notice' %>
<tbody>
  <% @projects.each do |project| %>
    <%= render layout: '/shared/widget', locals: { title: (link_to project.title, project) } do %>
      <div class="sub-title">
        <%= author project %></p>
        <p>Github: <%= link_to project.github %></p>
      </div>
      <body><img src="<%= project.image.html_safe %>" style="width:304px;height:228px;" align="right">
      <%= project.body.html_safe %></body>
    <% end %>
  <% end %>
</tbody>
