<%= render layout: '/shared/widget', locals: { title: 'Show Projects' } do %>

  <%= render partial: 'shared/notice' %>

  <dl class='dl-horizontal'>
    <dt>Title:</dt>
    <dd><%= @project.title %></dd><br />

    <dt>Body:</dt>
    <dd><%= @project.body.html_safe %></dd><br />

    <dt>Project<br/> Lead:</dt>
    <dd><%= @project.first_name +  ' ' + @project.last_name %></dd><br />

    <dt>Image:</dt>
    <dd><img src="<%= @project.image.html_safe %>" style="width:304px;height:228px;"></dd><br />

    <dt>Github:</dt>
    <dd><%= link_to @project.github,  @project.github %></dd><br />

    <hr />
    <%= link_to projects_path, class: 'btn btn-default' do %>
      <span class='glyphicon glyphicon-list-alt'></span>
      Back
    <% end %>

    <% if can? :edit, Project %>
      <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
        <span class='glyphicon glyphicon-pencil'></span>
        Edit
      <% end %>
    <% end %>

    <% if can? :destroy, Project %>
      <%= link_to project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right' do %>
        <span class="glyphicon glyphicon-trash"></span>
        Destroy
      <% end %>
    <% end %>

  </dl>
<% end %>
