<% if @_current_user %>
  <!-- Fixed navbar -->
  <nav class='nav-bar'>
    <div class='container'>
      <div class='navbar-header'>
        <a class='navbar-brand'>BCS PiSoc</a>
      </div>
      <div id='navbar' class='collapse navbar-collapse'>
        <%= link_to 'Logout', logout_users_path, class: "more_right" %>
        <%= link_to 'Users', users_path, class: "more_right" %>
        <%= link_to 'News', news_index_path, class: "more_right" %>
        <%= link_to 'Projects', projects_path, class: "more_right" %>
        <%= link_to 'home', root_path, class: "more_right" %>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<% end %>
