<%= form_for(@member, html: { class: 'form-horizontal', role: 'form' }) do |f| %>

  <div class='row'>
    <div class='clearfix'>

      <!-- first column start -->
      <div class='col-sm-6'>
        <div class='form-group required <%= 'has-error has-feedback' if @member.errors[:username].present? %>'>
          <%= f.label :username, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :username, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @member.errors[:username],
              value: @member.username %>
            <%= feedback_html if @member.errors[:username].present? %>
          </div>
        </div>
      
        <div class='form-group required <%= 'has-error has-feedback' if @member.errors[:password_digest].present? %>'>
          <%= f.label :password_digest, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :password_digest, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @member.errors[:password_digest],
              value: @member.password_digest %>
            <%= feedback_html if @member.errors[:password_digest].present? %>
          </div>
        </div>
      
        <div class='form-group required <%= 'has-error has-feedback' if @member.errors[:first_name].present? %>'>
          <%= f.label :first_name, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :first_name, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @member.errors[:first_name],
              value: @member.first_name %>
            <%= feedback_html if @member.errors[:first_name].present? %>
          </div>
        </div>
      
        <div class='form-group required <%= 'has-error has-feedback' if @member.errors[:last_name].present? %>'>
          <%= f.label :last_name, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :last_name, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @member.errors[:last_name],
              value: @member.last_name %>
            <%= feedback_html if @member.errors[:last_name].present? %>
          </div>
        </div>
      </div>
      <!-- first column end -->

      <!-- second column start -->
      <div class='col-sm-6'>
        <div class='form-group required <%= 'has-error has-feedback' if @member.errors[:email].present? %>'>
          <%= f.label :email, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :email, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @member.errors[:email],
              value: @member.email %>
            <%= feedback_html if @member.errors[:email].present? %>
          </div>
        </div>
      
        <div class='form-group required <%= 'has-error has-feedback' if @member.errors[:course].present? %>'>
          <%= f.label :course, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :course, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @member.errors[:course],
              value: @member.course %>
            <%= feedback_html if @member.errors[:course].present? %>
          </div>
        </div>
      
        <div class='form-group required <%= 'has-error has-feedback' if @member.errors[:role].present? %>'>
          <%= f.label :role, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.number_field :role, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @member.errors[:role],
              value: @member.role %>
            <%= feedback_html if @member.errors[:role].present? %>
          </div>
        </div>
      
        <div class='form-group required <%= 'has-error has-feedback' if @member.errors[:github].present? %>'>
          <%= f.label :github, class: 'col-sm-3 control-label' %>
          <div class='col-sm-9'>
            <%= f.text_field :github, class:'form-control',  data: { toggle: 'tooltip', placement: 'top' },
              title: @member.errors[:github],
              value: @member.github %>
            <%= feedback_html if @member.errors[:github].present? %>
          </div>
        </div>
      
        </div>
      <!-- second column end -->

    </div>
  </div>

  <hr />

  <div class='form-group'>
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to members_path, class: 'btn btn-default' do %>
      <span class='glyphicon glyphicon-list-alt'></span>
      Back
    <% end %>
    <% if @member.id %>
      <%= link_to @member, class: 'btn btn-primary' do %>
        <span class='glyphicon glyphicon-info-sign'></span>
        Show
      <% end %>
    <% end %>
  </div>
<% end %>
